URxvt*scrollBar: false
URxvt*font: xft:Monospace:size=12
URxvt*background: #1c1c1c
URxvt*foreground: #ffffff
URxvt*color0:  #000000
URxvt*color1:  #ff5555
URxvt*color2:  #50fa7b
URxvt*color3:  #f1fa8c
URxvt*color4:  #bd93f9
URxvt*color5:  #ff79c6
URxvt*color6:  #8be9fd
URxvt*color7:  #ffffff
URxvt*color8:  #44475a
URxvt*color9:  #ff5555
URxvt*color10: #50fa7b
URxvt*color11: #f1fa8c
URxvt*color12: #bd93f9
URxvt*color13: #ff79c6
URxvt*color14: #8be9fd
URxvt*color15: #ffffff